_notes
Thumbs.db
.DS_Store
.idea
.phpstorm.meta.php
composer.phar
node_modules
PATCHES.txt
mysqldumper
phpMyAdmin-*
/public
/source/admin/log/*
/source/admin/log/.htaccess
/source/config.inc.php
/source/env
/source/export
/source/import
/source/log
/source/out/downloads
/source/out/media
/source/out/pictures
/source/tmp
/tmp
/vendor/*
!/vendor/.htaccess
/var/configuration/environment/*
!/var/configuration/environment/.gitkeep
/var/configuration/shops/*
!/var/configuration/shops/.gitkeep
/var/generated/*
!/var/generated/.gitkeep
